html, body {
    overflow-x: hidden;
}
body {
    margin: 0;
     touch-action: pan-x pan-y;
}
ul {
    margin: 0;
}

a {
    text-decoration: none;
}

*, ::after, ::before {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
    border-style: none;
}

.product-page.common-wrapper {
    position: static;
}

.modal-open {
    overflow: hidden;
    body {
        overflow: hidden
    }
}
// .home {
//     .cmp-hero {
//         margin-bottom: 30px;
//     }
//  